In [1]:
from urllib.request import urlopen
import json
import pandas as pd
import numpy as np
import plotly.express as px
import plotly

In [2]:
with urlopen('https://raw.githubusercontent.com/davidbetancur8/geojsons/master/antioquia.json') as response:
    geoJSON = json.load(response)
    
deptos = [dpto["properties"] for dpto in geoJSON["features"]]
df = pd.DataFrame(deptos).loc[:,"name"].to_frame()
df["cuenta"] = np.random.randint(1, 30, df.shape[0])

In [3]:
df

                   name  cuenta
0             ARBOLETES       2
1     SAN JUAN DE URABA       2
2               NECOCLI      26
3    SAN PEDRO DE URABA      12
4                 TURBO      26
..                  ...     ...
120          VALPARAISO      21
121              JARDIN       8
122              NARI¥O      15
123           CARAMANTA      18
124              MUTATA      20

[125 rows x 2 columns]

In [4]:
fig = px.choropleth(df, geojson=geoJSON, color="cuenta",
                    locations="name", featureidkey="properties.name",
                    projection="mercator",scope="south america",color_continuous_scale=px.colors.sequential.Blues,
                    range_color = [0,30]
                )
fig.update_geos(fitbounds="locations", visible=False, showcountries=True, countrycolor="Black",
    showsubunits=True)
fig.update_layout(
    font=dict(
        family="Courier New, monospace",
        size=25,
        color="#7f7f7f"
    )
)
plotly.offline.plot(fig, filename='output/Antioquia.html')

'output/Antioquia.html'